#h1{
    color:#000000;
    font-family: corbel;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
    font-weight: 100;
}

#span{
    color:#000000;
    font-family: corbel;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
    font-weight: 100;
}

#a{
    color:#000000;
    font-family: corbel;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
    font-weight: 100;
}